<%- include('partials/_header') %>
<div class="row justify-content-center">
    <div class="col-lg-6">
        <h2 class="mt-2"><%= post.title %></h2>
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <a href="/posts" class="text-decoration-none">Back to posts</a>
                    <p class="text-muted m-0 p-0"><%= post.published_at %></p>
                </div>
                <p><%= post.content %></p>
            </div>
        </div>
    </div>
</div>
<script src="/js/userSession.js"></script>
<%- include('partials/_footer') %>